:root {
  --cc-bg: #131721;
  --noti-bg: #0b0e14;
}

.control-center {
  background: var(--cc-bg);
}

.notification {
  background: var(--noti-bg);
  border-radius: 8px;
}

.notification-background {
  padding: 0;
}
