:root {
  --border-radius: 16px;
  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.widget {
  background: #434343;
  border-radius: var(--border-radius);
  padding: var(--padding);
}
